
@import "reset.css";

@keyframes backgroundscreen {
    from{
        
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

body{
    font-family: -apple-system, 
    BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    background-color: black;
    animation: backgroundscreen 1s ease-in-out forwards;
    

}

img{
    position:absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top:0px;
    right: 0px;
    bottom:0px;
    z-index: -2;
    opacity: 75%;
}

#clock{
    position: absolute;
    top:40%;
    left: 50%;;
    opacity: 0.85;
    font-size: 75px;
    z-index: 1;
    transform: translate(-50%, -50%);
}
#greeting{
    position: absolute;
    top:55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}
#login-center{
    position: absolute;
    top:55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}
#login-center input{
    text-align: center;
    width: 150px;
    height: 25px;
    margin-right: 5px;
}
#login-center button{
    border: 1px solid white;
    background: transparent;
    color: white;
    margin-left: 5px;
}
#login-center button:hover{
    color:gold;
    background-color: white;
}
.hidden {
    display: none;
    
}

.up{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: italic;
}
.up div{
    margin: 0px 15px 0px 15px;
}
.up_hidden{
    display: flex;
    flex-direction: column;
}
.up_hidden a{
    padding-top: 10px;
    text-decoration: none;
    color: white;
    font-style: italic;
}
.up_hidden a:hover{
    color:gold
}
#weather span:first-child{
    font-size: 17px;

}
#weather span:last-child{
    font-size: 20px;

}
#todo-center{
    position: absolute;
    top:65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    z-index: 3;
}

#todo-form input{
    padding: 15px 65px;
    border:none;
    border-bottom: 1.5px solid white;
    background: transparent;
    width: 200px;
    text-align: center;
    outline: none;
    color: white;
    font-size: 15px;
}
#todo-form input::placeholder{
    color: white;
    font-size: 15px;
}
#quote {
    position: fixed;
    bottom:0;
    right: 0;
    margin-bottom: 10px;
    margin-right: 12px;
    font-size: 11px;
    font-style: italic;
}
#quote span:first-child{
    font-size: 16px;
}

#login-form input{
    
    outline: none;
    background: transparent;
    border:none;
    border-bottom: 1.5px solid white;
    color: white;
    font-size: 15px;
    
}
#login-form input::placeholder{
    color: white;
}

#todo-list {
    width: 200px;
    overflow-y: auto;
}
#todo-list li{
    margin-top: 5px;
    
}
#todo-list li button{
    background: transparent;
    border:none;
    color: red;
    font-size: 25px;
    margin-left: 5px;
}
#todo-list li button:hover{
    font-size: 30px;
}